.section {
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #007bff;
}

.form-group label {
  font-weight: bold;
}

h3 i {
  color: blue;
  font-weight: bold;
}

.tab {
  margin-bottom: 60px;
}

.nav-tabs .custom-tab {
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s;
  border: none; /* Enlever les bordures par défaut */
  margin-right: 1rem; /* Ajouter de l'écart entre les onglets */
}

.nav-tabs .custom-tab.active {
  background-color: rgba(
    0,
    123,
    255,
    0.2
  ); /* Couleur de fond de l'onglet actif */
  color: #000; /* Couleur du texte en noir */
  font-weight: bold;
  border-radius: 15px; /* Bordures arrondies */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombrage optionnel */
}

.nav-tabs .custom-tab:hover {
  background-color: rgba(0, 86, 179, 0.2); /* Couleur de fond lors du survol */
  color: #000; /* Couleur du texte en noir lors du survol */
}

/* Enlever le trait en dessous des onglets */
.nav-tabs {
  border-bottom: none;
}
